body {
  background-image: url("../../main-background.png");
}

.bg-primary-10 {
  background-color: rgba(0, 102, 255, 0.1);
}

.bg-primary-20 {
  background-color: rgba(0, 102, 255, 0.2);
}

.bg-primary-30 {
  background-color: rgba(0, 102, 255, 0.3);
}

.bg-primary-40 {
  background-color: rgba(0, 102, 255, 0.4);
}

.bg-primary-50 {
  background-color: rgba(0, 102, 255, 0.5);
}

.bg-primary-60 {
  background-color: rgba(0, 102, 255, 0.6);
}

.bg-primary-70 {
  background-color: rgba(0, 102, 255, 0.7);
}

.bg-primary-80 {
  background-color: rgba(0, 102, 255, 0.8);
}

.bg-primary-90 {
  background-color: rgba(0, 102, 255, 0.9);
}

.component {
  background-color: rgba(0, 102, 255, 0.9);
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: sans-serif;
  color: rgb(0, 102, 255);
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 10px 140px;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: red;
}
@media (max-width: 1500px) {
  .profile-wrapper {
    width: 100%;
  }
}

.profile-box {
  height: auto;
  color: white;
  font-weight: 700;
  padding-left: 48px;
}
.profile-box p {
  margin: 0;
  padding: 0;
  transition: color 0.2s;
}
.profile-box p:nth-child(1) {
  font-family: "Inter", "Quicksand", sans-serif;
  font-size: 1.2em;
}
.profile-box p:nth-child(1)::selection {
  color: deepskyblue;
}
.profile-box p:nth-child(2) {
  font-family: "Inter", "Quicksand", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 0.28px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  color: #52ff75;
  margin-bottom: 0.3em;
}
.profile-box p:nth-child(2) ::selection {
  color: #2288fc;
  text-shadow: 1px 1px 1px rgba(66, 245, 18, 0.75);
}
.profile-box p:nth-child(3) {
  font-family: "Inter", "Quicksand", sans-serif;
  letter-spacing: 0.038px;
  font-size: 0.8em;
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.profile-box p:nth-child(3) ::selection {
  color: #6bc9fc;
  text-shadow: 1px 1px 1px rgba(66, 245, 18, 0.75);
}

.image-profile-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: blue;
}
@media (max-width: 1500px) {
  .image-profile-wrapper {
    width: 32%;
    height: 90%;
  }
}
@media (max-width: 1366px) {
  .image-profile-wrapper {
    display: none;
  }
}
.image-profile-wrapper img {
  border-radius: 8px;
  animation: fly 6s ease-in-out infinite;
}
@media (max-width: 1500px) {
  .image-profile-wrapper img {
    width: 400px;
  }
}
@media (max-width: 1280px) {
  .image-profile-wrapper img {
    width: 300px;
  }
}

.navigation-wrapper {
  position: absolute;
  left: 44px;
  padding: 4px;
  border-radius: 250px;
  background: white;
  height: auto;
  min-width: 1.4em;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.3);
}
.navigation-wrapper .wrapper {
  text-align: center;
  padding: 2px 0;
}
.navigation-wrapper .wrapper .navigation-item {
  list-style: none;
  font-size: 22px;
  padding: 4px 0;
  margin: 6px 0;
  border-radius: 10px;
}
.navigation-wrapper .wrapper .navigation-item:hover {
  background: rgb(0, 102, 255);
  background: radial-gradient(circle, rgb(0, 102, 255) 40%, rgb(255, 255, 255) 100%);
  color: white;
}

/*# sourceMappingURL=portofolio.css.map */
