@use "../_sass/fonts"
@use "../_sass/colors"
@use "../_sass/keyframes"
@use "../_sass/_utils/animation"
@use "../_sass/_utils/text"
@use "../_sass/_var/screens"

a
  color: white

@for $i from 1 through 9
  .bg-primary-#{$i}0
    background-color: nth(colors.$primary-opacity, $i)

/* width */
::-webkit-scrollbar
  position: absolute
  width: 0px


/* Track */
::-webkit-scrollbar-track
  background: nth(colors.$primary-opacity, 1)


/* Handle */
::-webkit-scrollbar-thumb
  background: nth(colors.$smooth-green-opacity, 7)
  border-radius: 5px


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555

[data-title]:hover:after
  opacity: 1
  transition: all 0.1s ease 0.5s
  visibility: visible

[data-title]:after
  content: attr(data-title)
  background-color: colors.$smooth-green
  color: #111
  font-size: 14px
  position: absolute
  padding: 1px 5px 2px 5px
  bottom: -1.6em
  left: 100%
  white-space: nowrap
  box-shadow: 1px 1px 3px #222222
  opacity: 0
  border: 0.5px solid #111111FF
  z-index: 99999
  visibility: hidden
  border-radius: 4px

[data-title]
  position: relative


.content-wrapper
  background-image: url("../../main-background.png")
  background-repeat: no-repeat
  background-size: 105%
  overflow-x: hidden
  scroll-behavior: smooth
  scroll-snap-type: y mandatory
  width: 100dvw
  height: 100dvh

  @media (max-width: 970px)
    background-size: auto
    width: auto
    object-fit: cover

  & .id-section
    scroll-snap-align: start
    width: 100dvw
    height: 100dvh
    display: flex
    justify-content: center
    align-items: center
    font-size: 36px
    font-family: sans-serif
    color: colors.$primary
    font-weight: 500
    letter-spacing: .25px
    padding: 10px 140px
    transition: transform 1.4s ease-in-out

    @media (max-width: screens.$large-mobile)
      padding: 8px 20px

    &.not-active
      transform: translateY(-100%)

.navigation-container
  position: fixed
  top: 0
  left: 0
  background: red
  height: 100dvh
  display: flex
  justify-content: center
  align-items: center
  font-size: 36px
  font-family: sans-serif
  color: colors.$primary
  font-weight: 500
  letter-spacing: .25px

  @media (max-width: screens.$large-mobile)
    font-size: 24px  

  & .navigation-wrapper
    position: absolute
    left: 44px
    padding: 4px

    border-radius: 250px
    background: white
    height: auto
    min-width: 1.4em

    box-shadow: 8px 8px 2px rgba(0, 0, 0, .3)

    @media (max-width: screens.$large-mobile) 
      bottom: 20px
      left: 10px
      border-radius: 120px
      min-width: 1.4em

    & .wrapper
      text-align: center
      padding: 2px 0

      & .navigation-item
        list-style: none
        font-size: 22px
        padding: 4px 0
        margin: 6px 0
        border-radius: 10px

        @media (max-width: screens.$large-mobile) 
          font-size: 18px

        &:hover
          background: colors.$primary
          background: radial-gradient(circle, colors.$primary 40%, rgba(255, 255, 255, 1) 100%)
          color: white

.profile-wrapper
  display: flex
  align-items: center
  width: 90%
  height: 100%

  @media (max-width: 1500px)
    width: 100%

.profile-box
  height: auto
  color: white
  font-weight: 700
  padding-left: 48px

  @media (max-width: screens.$large-mobile)
    padding-left: 26px

  & p
    margin: 0
    padding: 0
    transition: color .2s

    &:nth-child(1)
      font-family: 'Inter', 'Quicksand', sans-serif
      font-size: 1.2em

      @media (max-width: screens.$large-mobile)
        font-size: 0.6em

      &::selection
        color: deepskyblue

    &:nth-child(2)
      font-family: 'Inter', 'Quicksand', sans-serif
      font-size: 1.6em
      font-weight: 900
      letter-spacing: calc(56px / 100 * 0.5)
      text-shadow: 2px 2px 8px rgba(0, 0, 0, .35)
      color: colors.$smooth-green
      margin-bottom: .3em

      @media (max-width: screens.$large-mobile)
        font-size: 0.8em

      &::selection
        color: #2288fc
        text-shadow: 1px 1px 1px rgba(66, 245, 18, 0.75)


    &:nth-child(3)
      font-family: 'Inter', 'Quicksand', sans-serif
      letter-spacing: calc(38px / 100 * 0.1)
      font-size: .8em
      font-weight: 500
      text-shadow: 2px 2px 8px rgba(0, 0, 0, .25)

      @media (max-width: screens.$small-desktop)
        font-size: 0.5em

      & *::selection
        color: #6bc9fc
        text-shadow: 1px 1px 1px rgba(66, 245, 18, 0.75)

  .social-media-wrapper
    display: inline-block
    margin-top: 6px

    & a
      display: inline-block
      margin-right: 6px

      & .social-icon
        transition: al .1s ease-in-out
        color: white

        @media (max-width: screens.$large-mobile)
          font-size: 26px

        &:hover
          transform: scale(1.12)

        &:active
          color: rgba(colors.$smooth-green, .8)

.image-profile-wrapper
  width: 50%
  height: 100%
  display: flex
  justify-content: flex-end
  align-items: center

  @media (max-width: 1500px)
    width: 32%
    height: 90%

  @media (max-width: 1366px)
    display: none

  & img
    border-radius: 8px
    animation: fly 6s ease-in-out infinite

    @media (max-width: 1500px)
      width: 400px

    @media (max-width: 1280px)
      width: 300px


#about-page
  & .wrapper
    width: 100%
    height: 100%
    display: flex
    align-items: center
    padding:  0 0 0 20px

    & .me-image-wrapper
      width: 24%
      display: flex
      justify-content: center
      align-items: center
      transition: all 1s ease-in-out
      background: radial-gradient(colors.$smooth-green, colors.$smooth-green, nth(colors.$smooth-green-opacity, 8), nth(colors.$smooth-green-opacity, 7), nth(colors.$smooth-green-opacity, 6), nth(colors.$smooth-green-opacity, 4), rgba(colors.$smooth-green, 0)), radial-gradient(nth(colors.$primary-opacity, 4), nth(colors.$primary-opacity, 4))
      padding: 60px 0

      & img
        width: 70%

      @media (max-width: screens.$small-desktop)
        display: none

    & .about-wrapper
      width: 76%
      padding: 10px 10px 10px 26px
      font-family: fonts.$font

      @media (max-width: screens.$small-desktop)
        width: 100%

      h3
        font-size: 1.2em
        margin: 0 0 8px 0
        text-shadow: 2px 2px 8px rgba(0, 0, 0, .35)

        @media (max-width: screens.$small-desktop)
          font-size: 0.8em

      h5 
        font-size: 22px
        margin: 0 0 20px 0px
        color: colors.$smooth-green
        text-shadow: 2px 2px 8px rgba(0, 0, 0, .35)

        @media (max-width: screens.$small-desktop)
          font-size: 0.4em

      p
        width: 90%
        font-size: 19px
        margin: 8px 0
        line-height: 134%
        margin: 2px 0 18px 0
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .25)
      
        @media (max-width: screens.$small-desktop)
          font-size: 0.4em

      ul
        list-style: none

        li
          text-shadow: 1px 1px 4px rgba(0, 0, 0, .25)
          margin: 26px 0
          font-size: 18px
          width: 50%

          @media (max-width: screens.$small-desktop)
            font-size: 0.42em

          span
            color: colors.$smooth-green
          

#skill-page
  & .wrapper
    width: 100%
    height: 100%
    padding: 11em
    display: flex
    justify-content: center
    gap: 10px

    // & img
    //   width: 60px
    //   height: 60px

#projects
  & .wrapper
    width: 100%
    height: 100%
    padding: 11em
    display: flex
    justify-content: center
    gap: 10px


.text-default
  color: colors.$smooth-green