@keyframes fly
  0%, 100%
    box-shadow: 1px 100px 10px -100px rgba(0, 0, 0,.15)
    transform: translateY(-10px) rotate(-0.5deg)

  50%
    box-shadow: 15px 60px 10px -60px rgba(0, 0, 0,.15)
    transform: translateY(5px) rotate(.5deg)

@keyframes fly-no-transform
  0%
    top: -1px

  100%
    top: 4px

@keyframes blink
  0%, 70%
    opacity: 1
  90%
    opacity: 0